:root{
    --black: #292929;
    --dark-gray: #606569;
    --warm-yellow: #eec201;
    --lemon-yellow: #fae12c;
    --light-gray:#969a9d;
}

.hero-section  #cards-wrapper{
    width: 100%;
    min-height: 400px;
    padding: 150px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 0px;
    opacity: 1;
    transition: all .5s;
}

#cards-wrapper .card{
    width: 250px;
    height: 280px;
    border-radius: 10px;
    position: relative;
    transition: all .3s ;
    --borderWidth:2px;
    background: transparent;
    perspective: 1000px;
    
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 10px 20px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: var(--dark-gray);
    color: var(--warm-yellow);
    transform: rotateY(180deg);
    text-align: left;
    padding: 5px 15px;
    
  }

  .moto-info {
    background-color: var(--warm-yellow);
    border: none;
    color: var(--black);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.moto-info:hover {
  background-color: var(--lemon-yellow);
}


#cards-wrapper .card:nth-child(3){
    transform: rotate(10deg);
    top: 30px;
    position: relative;
    z-index: 1;
}


.card img{
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
}


.card-content{
position: absolute;
  bottom: 0;
  height: 100%;
  background: aliceblue;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  visibility: hidden;
  transition: all .3s;
  
}



.card-content-animation{
    animation: fadeIn 2s ease-in forwards;
    
}
@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card:nth-child(1)::before,
.card:nth-child(2)::before,
.card:nth-child(3)::before {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, var(--dark-gray), var(--dark-gray), var(--warm-yellow), var(--light-gray), var(--light-gray));
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }


  @media  (width <= 765px){

#cards-wrapper .card:nth-child(1),
#cards-wrapper .card:nth-child(2),
#cards-wrapper .card:nth-child(3){
    transform: rotate(0deg);
    top: 0px;
}   

#cards-wrapper .card{
    margin: 20px 0;

}

.flip-card{
  width: 250px;
}

.flip-card-back{
  padding: 10px 20px;
  font-size: 14px;
}

  }
