:root{
    --black: #292929;
    --dark-gray: #606569;
    --warm-yellow: #eec201;
    --lemon-yellow: #fae12c;
    --light-gray:#969a9d;
}



#fleet-section{
    
    margin-top: 100px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 20px 0;
    display: inline-flex;
    align-self: start;
}

.filter-cnt{
  width: 100%;
  margin: 20px;
}

.filter-cnt h3{
  padding: 10px 0;
}

.filter-cnt select{
  background: var(--light-gray);
  color: var(--lemon-yellow);
  border: none ;
 width: 200px;
  padding: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
   
}
.gallery-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
}
.gallery-item img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}
.gallery-item .info {
    padding: 15px;
    text-align: center;
}
.gallery-item .info h2 {
    margin: 10px 0;
    font-size: 1.2em;
}
.gallery-item .info p {
    margin: 0;
    color: #555;
}
@media (max-width: 768px) {
    .gallery-item {
        width: calc(50% - 20px);
    }
}
@media (max-width: 480px) {
    .gallery-item {
        width: 100%;
    }
}


.fleet-modal{
    display: flex;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1000;
    background: #555;
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: var(--light-gray);
    margin-bottom: 60px;
}
.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.loader:after {
  color: var(--lemon-yellow);
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
0% {
  transform: translate(-50%, -50%) rotateZ(0deg);
}
100% {
  transform: translate(-50%, -50%) rotateZ(360deg);
}
}

@keyframes rotateccw {
0% {
  transform: translate(-50%, -50%) rotate(0deg);
}
100% {
  transform: translate(-50%, -50%) rotate(-360deg);
}
}

@keyframes spin {
0%,
100% {
  box-shadow: .2em 0px 0 0px currentcolor;
}
12% {
  box-shadow: .2em .2em 0 0 currentcolor;
}
25% {
  box-shadow: 0 .2em 0 0px currentcolor;
}
37% {
  box-shadow: -.2em .2em 0 0 currentcolor;
}
50% {
  box-shadow: -.2em 0 0 0 currentcolor;
}
62% {
  box-shadow: -.2em -.2em 0 0 currentcolor;
}
75% {
  box-shadow: 0px -.2em 0 0 currentcolor;
}
87% {
  box-shadow: .2em -.2em 0 0 currentcolor;
}
}